---
- name: download wordpress  
  get_url: 
    url: https://wordpress.org/latest.tar.gz 
    dest: /tmp/wordpress.tar.gz
    validate_certs: no

- name: extract wordpress  
  unarchive:
    src: /tmp/wordpress.tar.gz
    dest: /var/www/
    copy: no

- name: copy sample config file
  command: mv /var/www/wordpress/wp-config-sample.php /var/www/wordpress/wp-config.php creates=/var/www/wordpress/wp-config.php

- name: create upload folder
  file:
    path: /var/www/wordpress/wp-content/uploads
    state: directory
    mode: 0755
    owner: www-data

- name: update wordpress config file
  lineinfile:
    dest: /var/www/wordpress/wp-config.php
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - {'regexp': "define\\('DB_NAME', '(.)+'\\);", 'line': "define('DB_NAME', '{{mysql_wp_db}}');"}        
    - {'regexp': "define\\('DB_USER', '(.)+'\\);", 'line': "define('DB_USER', '{{mysql_wp_user}}');"}        
    - {'regexp': "define\\('DB_PASSWORD', '(.)+'\\);", 'line': "define('DB_PASSWORD', '{{mysql_wp_pwd}}');"}

- name: copy apache2 wp config
  template:
    src: apache2.wp.backend.conf
    dest: /etc/apache2/sites-available/wp.backend.conf

- name: change wp site in apache2 config
  lineinfile:
    dest: /etc/apache2/sites-available/wp.backend.conf
    regexp: "ServerName"
    line: "        ServerName {{http_wp_server_name}}"
  notify: restart apache2

- name: enabled wp site config
  file:
    src: /etc/apache2/sites-available/wp.backend.conf
    dest: /etc/apache2/sites-enabled/wp.backend.conf
    state: link
  notify: restart apache2
